#  Ignore all contents of the _Archive directory
_Archive/**
example.ini

#  Ignore the stuff associated with Visual Basic
.vs/**
bin/**
obj/Debug/**
StarterVB_install/Debug/**
StarterVB_install/Release/**